@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Reports Home";
}

<style>
    .bold {
        font-weight: bold;
    }

    .datepicker {
        float: left;
    }

    .date-picker {
        margin-left: -42px;
    }

    html,
    body {
        height: 100%;
        width: 100%;
    }

    #myChart {
        height: 100%;
        width: 100%;
        min-height: 150px;
    }

    #myChart2 {
        height: 100%;
        width: 100%;
        min-height: 150px;
    }

    #myChart4 {
        height: 100%;
        width: 100%;
        min-height: 150px;
    }

    #myChart5 {
        height: 100%;
        width: 100%;
        min-height: 150px;
    }

    .zc-ref {
        display: none;
    }

    zing-grid[loading] {
        height: 450px;
    }


    /* Dropdown Button ----------------------------------- */
    .dropbtn {
        background-color: transparent;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
        border: none;
        margin-left: 0px;
        
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
        
        /*style ="margin-bottom: -30px !important; z-index: 90 !important; display: none;"*/
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #A3F7A6;
        min-width: 100px;
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-right: 0px;
        right: 0;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 8px 10px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #F1DA5F;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn_up {
        background-color: #88E88C;
    }

    /* Dropup Button */
    .dropbtn_up {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    /* The container <div> - needed to position the dropup content */
    .dropup {
        position: relative;
        display: inline-block;
    }

    /* Dropup content (Hidden by Default) */
    .dropup-content {
        display: none;
        position: absolute;
        bottom: 50px;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 111;
    }

        /* Links inside the dropup */
        .dropup-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropup links on hover */
            .dropup-content a:hover {
                background-color: #ddd
            }

    /* Show the dropup menu on hover */
    .dropup:hover .dropup-content {
        display: block;
    }

    /* Change the background color of the dropup button when the dropup content is shown */
    .dropup:hover .dropbtn_up {
        background-color: #2980B9;
    }


    .configMenuDiv {
        width: 100%;
        height: 20px;
        position: relative;
        margin-bottom: 20px;
        padding-right: 20px;
        bottom: 0;
        right: 0;
        /*background: red;*/
        z-index: 90;
    }

    /* white div on chart */
    .white-div {
        width: 100%;
        height: 20px;
        position: relative;
        margin-top: -25px;
        bottom: 0;
        right: 0;
        /*background: red;*/
        z-index: 90;
    }
    .chartBox {
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .chartChildBox {
        min-width: 800px;
        min-height: 40px;
    }
    .chartStyle {
        height: 460px; 
        min-width: 950px;
        width: 100%;
        min-height: 350px;
        overflow-x: auto !important;
        margin-bottom: -5px;
        margin-top: 0px;        
    }

    .im_loading {
        /*display: none;*/
        /*position: absolute;
        top: 10%;
        left: 0%;*/
        margin: 0px !important;
        padding: 0px !important;
        /*background: #fff url(Content/Default/loading.gif) no-repeat center center;*/
        /*width: 70px;
        height: 70px;*/
        z-index: 9999;
        /*-moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;*/
        /*-moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;*/
        opacity: 0.7;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    }

    /* For progress-bar */
    #myProgress {
        width: 100%;
        background-color: grey;
        margin-top: -3px;
    }

    #myBar {
        width: 0%;
        height: 6px;
        background-color: #FFA800; /*#4CAF50, blueviolet, #FFA800*/
        text-align: left; /* To center it horizontally (if you want) */
        line-height: 6px; /* To center it vertically */
        color: white;
        padding-left: 10px;
    }


    #speakingDiv {
        position: absolute;
        z-index: 99;
        background-color: #f1f1f1;
        border: 0px solid #d3d3d3;
        text-align: center;
        visibility: hidden;
        height: 0px;
        width: 200px;
        left: 1px;
        top: 48px;
    }

    #speakingDivHeader {
        padding: 4px;
        cursor: move;
        z-index: 100;
        background-color: #2196F3;
        color: #fff;
    }



</style>
<script>
//  showBackButton();
</script>

@*<script src='https://code.responsivevoice.org/responsivevoice.js'></script>*@
<script src="https://code.responsivevoice.org/responsivevoice.js?key=e7b1ijP7"></script>
<div id="container" ng-controller="ctrl">
    <div class="main-content">
        <div class="cms-messages"></div>
        <div class="flyout-left">
          <div class="flyout-left-inner">
            @*<img class="logo-panel" src="~/Images/logo.png" alt="MeliaSoft">*@
            <a href="/Report/Home"><img class="logo" src="~/Images/home_white_64.png" style="height: 30px;" alt="Home"></a>

            <a href="{{url}}?id={{menu.Id}}" ng-repeat="menu in menus">{{menu.Name}}</a>

          </div>
        </div>
        <div class="flyout-right">
          @if (Request.IsAuthenticated)
          {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "flyout-right-inner" }))
            {
              <h1>Hello @User.Identity.GetUserName() !</h1>
              @*@Html.ActionLink("Đổi mật khẩu", "ChangePassword", "Account")*@
              
              <a id="spnChangePwd" href="/Account/ChangePassword">Đổi mật khẩu</a>
              
              <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
              <hr />
              <a href="#" onclick="doGTranslate('vi|vi'); hideSubMenu('Vietnamese'); return false;" title="Vietnamese" style="margin-left: 16px; margin-top: 2px; margin-right: 60px; margin-bottom: 2px; padding-left:0px; padding-top:0px; padding-bottom:0px;"><img src="~/Images/Flags/Vietnamese.png" height="20" width="120" alt="Vietnamese" /></a>
              <a href="#" onclick="doGTranslate('vi|en'); hideSubMenu('English'); return false;" title="English" style="margin-left: 16px; margin-top: 2px; margin-right: 60px; margin-bottom: 2px; padding-left:0px; padding-top:0px; padding-bottom:0px;"><img src="~/Images/Flags/English.png" height="20" width="120" alt="English" /></a>
              <a href="#" onclick="doGTranslate('vi|fr'); hideSubMenu('French'); return false;" title="French" style="margin-left: 16px; margin-top: 2px; margin-right: 60px; margin-bottom: 2px; padding-left:0px; padding-top:0px; padding-bottom:0px;"><img src="~/Images/Flags/French.png" height="20" width="120" alt="French" /></a>
              <a href="#" onclick="doGTranslate('vi|de'); hideSubMenu('German'); return false;" title="German" style="margin-left: 16px; margin-top: 2px; margin-right: 60px; margin-bottom: 2px; padding-left:0px; padding-top:0px; padding-bottom:0px;"><img src="~/Images/Flags/German.png" height="20" width="120" alt="German" /></a>
              <a href="#" onclick="doGTranslate('vi|it'); hideSubMenu('Italian'); return false;" title="Italian" style="margin-left: 16px; margin-top: 2px; margin-right: 60px; margin-bottom: 2px; padding-left:0px; padding-top:0px; padding-bottom:0px;"><img src="~/Images/Flags/Italian.png" height="20" width="120" alt="Italian" /></a>
              <a href="#" onclick="doGTranslate('vi|ja'); hideSubMenu('Japanese'); return false;" title="Japanese" style="margin-left: 16px; margin-top: 2px; margin-right: 60px; margin-bottom: 2px; padding-left:0px; padding-top:0px; padding-bottom:0px;"><img src="~/Images/Flags/Japanese.png" height="20" width="120" alt="Japanese" /></a>
              <a href="#" onclick="doGTranslate('vi|ko'); hideSubMenu('Korean'); return false;" title="Korean" style="margin-left: 16px; margin-top: 2px; margin-right: 60px; margin-bottom: 2px; padding-left:0px; padding-top:0px; padding-bottom:0px;"><img src="~/Images/Flags/Korean.png" height="20" width="120" alt="Korean" /></a>
              <a href="#" onclick="doGTranslate('vi|pt'); hideSubMenu('Portuguese'); return false;" title="Portuguese" style="margin-left: 16px; margin-top: 2px; margin-right: 60px; margin-bottom: 2px; padding-left:0px; padding-top:0px; padding-bottom:0px;"><img src="~/Images/Flags/Portuguese.png" height="20" width="120" alt="Portuguese" /></a>
              <a href="#" onclick="doGTranslate('vi|ru'); hideSubMenu('Russian'); return false;" title="Russian" style="margin-left: 16px; margin-top: 2px; margin-right: 60px; margin-bottom: 2px; padding-left:0px; padding-top:0px; padding-bottom:0px;"><img src="~/Images/Flags/Russian.png" height="20" width="120" alt="Russian" /></a>
              <a href="#" onclick="doGTranslate('vi|es'); hideSubMenu('Spanish'); return false;" title="Spanish" style="margin-left: 16px; margin-top: 2px; margin-right: 60px; margin-bottom: 2px; padding-left:0px; padding-top:0px; padding-bottom:0px;"><img src="~/Images/Flags/Spanish.png" height="20" width="120" alt="Spanish" /></a>
              <a href="#" onclick="doGTranslate('vi|zh-TW'); hideSubMenu('Taiwan'); return false;" title="Taiwan (Chinese)" style="margin-left: 16px; margin-top: 2px; margin-right: 60px; margin-bottom: 16px; padding-left:0px; padding-top:0px; padding-bottom:0px;"><img src="~/Images/Flags/Taiwan.png" height="20" width="120" alt="Spanish" /></a>
            }
          }

        </div>
        <div class="flyout-right-alert">
            <div class="flyout-right-inner">
                <div style="margin-left: 0px !important; margin-top: 7px; margin-bottom: 0px !important; padding: 9px; font-weight: normal !important;">
                    <span id="alertTitle" >THÔNG BÁO:</span>
                </div>
                <hr style="border: 1px solid #E3E3E3; margin-top: 0px; margin-bottom: 0px;">
                <div ng-repeat="alert in alerts">

                    <div ng-style="{'background-color':alert._BColor}" style="margin-left: 0px !important; padding: 10px; font-weight:normal !important; ">
                        <span>11 {{alert._Note}} background-color:{{alert._BColor}} </span>
                    </div>
                    <hr style="border: 1px solid #E3E3E3; margin-top: 0px; margin-bottom: 0px;">
                </div>
            </div>

        </div>

        <div class="rpt-header-white" id="rptHeaderDiv">
          <span class="logo-wrapper-new">
            @*<a id="lnkBackBtn" style="visibility: hidden;" href="javascript: window.close();">
              <img class="logo" id="imgBackBtn" src="~/Images/back_btn.png" style="width:0px; margin-right: 9px;" alt="Back">
            </a>*@            
            <span class="lines">
              <span class="line"></span>
              <span class="line2"></span>
              @*<span class="line"></span>*@
            </span>
            <a id="lnkLogo" style="visibility: hidden;" href="/Report/Home"><img id="imgLogo" class="logo" style="margin-left: 10px; margin-right: 10px" src="~/Images/logo.png" alt="Meliasoft"></a>
          </span>
            <span class="option-wrapper">
                <span class="lines">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>

            </span>
            <span id="envelopeIcon"  class="option-wrapper-alert" style="height:0px; visibility:hidden;">
                <span class="lines">
                    <a href="#" class="icon-sub" ng-click="getAlerts()">
                        <img src="~/Images/envelope40.png" class="img-con-sub" alt="">
                        <span id="msgCount" class="label-danger">0</span>
                    </a>
                </span>
            </span>



            @*<span class="rpt-name">Meliasoft</span>*@
            <div id="myProgress" style="visibility:hidden;">
                <div id="myBar"></div>
            </div>
        </div>

    </div>
    @*<div>charts.rows.count = {{charts.rows.count}}</div>*@


    <div class="im_loading" ng-show="waiting" ng-if="waiting">
        <img src="~/Content/Default/loading.gif" style="display: block; margin: 0 auto;" />
    </div>

    <div class="img-content position-relative" style="margin-left: 20px; margin-right: 20px; margin-top: 5px; margin-bottom: 50px; font-size: 12pt; ">

        @*<div id="speakingDiv" style="visibility:hidden; height:0px; width: 220px;">
        </div>*@
        @*<canvas id="Canvas" class="position-absolute" style="width:100%;height:100%;border:0px solid #000000;"></canvas>
        <img id="imgSpeaking" class="position-relative" src="~/Images/speaking/speaking_1.gif" height="110" width="200" alt="Report speaking">*@

        <!-- Draggable DIV -->
        <div id="speakingDiv">
            <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
            @*<div id="speakingDivHeader">Click here to move</div>  style="background-color: lightgreen !important;" *@
            <img id="imgSpeaking" class="position-relative" src="~/Images/speaking/Vietnamese.gif" height="110" width="200" alt="Report speaking">
        </div>

        @*<div id="closeDiv">
          <img id="imgClose" class="position-relative" src="~/Images/close.png" height="50" width="50" alt="Close">
        </div>*@

        @*<p style="margin: 10px;">
            <input onclick="responsiveVoice.speak('Xin chào các bạn, tôi đang nói những lời đơn giản nhất, các bạn có nghe rõ không?!', 'Vietnamese Female');" type='button' style="width: 190px;" value='🔊 ResponsiveVoice Say' />
        </p>
        <p style="margin: 10px;">
            <input onclick="GoogleSays('Xin chào các bạn, tôi đang nói những lời đơn giản nhất, các bạn có nghe rõ không?');" type='button' style="width: 190px;" value='🔊 Google Say ' />
        </p>*@
        @*<p style="margin: 10px;">
            <input onclick="translateToVoice('Xin chào các bạn, tôi đang nói những lời đơn giản nhất, các bạn có nghe rõ không?');" type='button' style="width: 150px;" value='🔊 Text to Voice ' />
        </p>*@



    <div ng-repeat="chart in charts">
        @*<hr />*@
        <input type="hidden" id="chartElementCount{{chart.SortNo}}" value="{{chart.ElementCount}}" />
        <div style="margin-left: 0px !important; margin-top: 7px; margin-bottom: 0px !important; font-weight:normal !important;">
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <td>
                            @*chart.RowNumber*@
                            <img id="arrow{{chart.SortNo}}" class="update-down" height="24" width="24" src="~/Images/arrow_right_24x24.png" alt="{{chart.VoiceMsg}}" />
                            <a href="#" id="showHideChart{{chart.SortNo}}" onclick="showHideChart(this); return false;" style="color: #337ab7 !important; font-size: 10pt;" title="{{chart.VoiceMsg}}"> Biểu đồ:  {{chart.Title}} </a>
                        </td>
                        <td style="width: 0px;">
                            @*<div class="dropdown">
                                <button class="dropbtn"><img src="~/Images/more_icon_24.png" alt="Customize Chart" height="20" width="20"></button>
                                <div class="dropdown-content">
                                    <a href="/Chart/ChartCustomize?chart_id={{chart.Id}}&report_id={{chart.ReportId}}">Cấu hình</a>
                                </div>
                            </div>*@
                            <table style="width: 100%">
                                <tbody>
                                    <tr>
                                        <td id="chartOptionCell{{chart.SortNo}}" style="width: 0px; background-color: transparent;">
                                            <div class="dropdown" style="width: 0px !important; background-color: transparent !important;">
                                                <button class="dropbtn" style="height:0px !important; color: #227447 !important;"></button>
                                                <div class="dropdown-content">
                                                    <span id="spnVoiceMsg{{chart.SortNo}}">{{chart.VoiceMsg}}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td id="configMenuCell{{chart.SortNo}}" style="width: 40px; height: 30px;">
                                            <div id="configMenu{{chart.SortNo}}" class="dropdown">
                                                @*style="margin-bottom: -30px !important; z-index: 90 !important; display: none;"*@
                                                @*<img src="~/Images/more_icon_24.png" alt="Customize Chart" height="20" width="20">*@
                                                <button id="dropbtn{{chart.SortNo}}" class="dropbtn" style="margin-bottom: -3px !important; color: #227447 !important;">◦◦◦</button>
                                                <div class="dropdown-content">
                                                    <a href="/Chart/ChartCustomize?chart_id={{chart.Id}}&report_id={{chart.ReportId}}">Cấu hình</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="width: 40px;">

                            <span class="message-refresh" style="display: inline-block; float: right;">
                                <img id="{{chart.SortNo}}" class="update-down" width="26" src="~/Images/speaker_black_36.png" onclick="translateToVoice(this); return false;" />
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        @*<div id="configMenuDiv{{chart.SortNo}}" class="configMenuDiv">
        </div>*@
        <div class="chartBox">
            <div id='myChart{{chart.SortNo}}' class="chartStyle"></div>
        </div>
        @*<div id='myChart{{chart.SortNo}}' style="height:460px; width: 100%; min-height: 350px; margin-bottom: -5px; margin-top: 0px;"></div>*@
        @*<div id="whiteDiv{{chart.SortNo}}" class="white-div">
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <td />
                        <td id="whiteCell{{chart.SortNo}}" style="width: 130px; height: 20px; background: white;"></td>
                    </tr>
                </tbody>
            </table>
        </div>*@
        @*<input id="hiddenChartId" type="hidden" ng-model="ChartId" value="{{chart.Id}}" />*@
        <input type="hidden" id="hiddenChartId{{chart.SortNo}}" value="{{chart.ChartConfig}}" />
        @*<input type="hidden" id="hiddenVoiceMsg{{chart.SortNo}}" value="{{chart.VoiceMsg}}" />*@
        <input type="text" style="font-size:1pt; width:1px; z-index: -1; color:azure; border-width:0px; margin:0px; padding:0px;" id="hiddenVoiceMsg{{chart.SortNo}}" value="{{chart.VoiceMsg}}" />
        <input type="hidden" id="hiddenAutoSpeech{{chart.SortNo}}" value="{{chart.AutoSpeech}}" />
        <hr style="border: 1px solid #E3E3E3; margin-top: 13px; margin-bottom: 0px;">
    </div>
    </div>
    @*
    <div class="rpt-filter-pane on">

        <div class="commands">

            <select onchange="doGTranslate(this);">
                        <option value="">Select Language</option>
                        <option value="vi|ar">Arabic</option>
                        <option value="vi|be">Belarusian</option>
                        <option value="vi|bg">Bulgarian</option>
                        <option value="vi|zh-CN">Chinese (Simplified)</option>
                        <option value="vi|zh-TW">Chinese (Traditional)</option>
                        <option value="vi|cs">Czech</option>
                        <option value="vi|nl">Dutch</option>
                        <option value="vi|en">English</option>
                        <option value="vi|fr">French</option>
                        <option value="vi|de">German</option>
                        <option value="vi|el">Greek</option>
                        <option value="vi|hi">Hindi</option>
                        <option value="vi|hu">Hungarian</option>
                        <option value="vi|id">Indonesian</option>
                        <option value="vi|it">Italian</option>
                        <option value="vi|ja">Japanese</option>
                        <option value="vi|ko">Korean</option>
                        <option value="vi|ms">Malay</option>
                        <option value="vi|no">Norwegian</option>
                        <option value="vi|pl">Polish</option>
                        <option value="vi|pt">Portuguese</option>
                        <option value="vi|ro">Romanian</option>
                        <option value="vi|ru">Russian</option>
                        <option value="vi|sl">Slovenian</option>
                        <option value="vi|es">Spanish</option>
                        <option value="vi|sv">Swedish</option>
                        <option value="vi|th">Thai</option>
                        <option value="vi|tr">Turkish</option>
                        <option value="vi|uk">Ukrainian</option>
                        <option value="vi|vi">Vietnamese</option>
                        <option value="vi|lo">Lao</option>
                        <option value="vi|la">Latin</option>
                    </select>


            </div>

        </div>*@
    <div id="google_translate_element2"></div>
</div>


<style type="text/css">
    <!--
    a.gflag {
        vertical-align: middle;
        font-size: 16px;
        padding: 1px 0;
        background-repeat: no-repeat;
        background-image: url(//gtranslate.net/flags/16.png);
    }

        a.gflag img {
            border: 0;
        }

        a.gflag:hover {
            background-image: url(//gtranslate.net/flags/16a.png);
        }

    #goog-gt-tt {
        display: none !important;
    }

    .goog-te-banner-frame {
        display: none !important;
    }

    .goog-te-menu-value:hover {
        text-decoration: none !important;
    }

    body {
        top: 0 !important;
    }

    #google_translate_element2 {
        display: none !important;
    }
    -->
</style>



<script type="text/javascript">
    function googleTranslateElementInit2() { new google.translate.TranslateElement({ pageLanguage: 'vi', autoDisplay: false }, 'google_translate_element2'); }
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>


<script type="text/javascript">
    /* <![CDATA[ */
    eval(function (p, a, c, k, e, r) { e = function (c) { return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36)) }; if (!''.replace(/^/, String)) { while (c--) r[e(c)] = k[c] || e(c); k = [function (e) { return r[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) if (k[c]) p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]); return p }('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}', 43, 43, '||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'), 0, {}))
    /* ]]> */
</script>

@*<div id='myChart'><a class="zc-ref" href="https://www.zingchart.com/">Charts by ZingChart</a></div>
    <div id='myChart2'><a class="zc-ref" href="https://www.zingchart.com/">Charts by ZingChart</a></div>
    <div id='myChart3'><a class="zc-ref" href="https://www.zingchart.com/">Charts by ZingChart</a></div>*@

<script type="text/javascript">
    var url = baseUrl + 'Report';
</script>
<script src="~/Scripts/Assets/home.js"></script>


<script type="text/javascript">

  showBackButton();

    //var url = baseUrl + 'Report';
    var report_id = '@ViewData["ReportId"]';
    var intervalId;

    $(function () {
        $(".flyout-left").click(function (e) {
            if ($(e.target).hasClass("flyout-left"))
                $(this).removeClass('active');
        });
        $(".rpt-header-white .logo-wrapper-new .lines").click(function () {
            $('.flyout-left').addClass('active');
        });
        $(".flyout-right").click(function (e) {
            if ($(e.target).hasClass("flyout-right"))
                $(this).removeClass('active');
        });
        $(".rpt-header-white .option-wrapper .lines").click(function () {
            $('.flyout-right').addClass('active');
        });
        $(".flyout-right-alert").click(function (e) {
            if ($(e.target).hasClass("flyout-right-alert"))
                $(this).removeClass('active');
        });
        $(".rpt-header-white .option-wrapper-alert .lines").click(function () {
            $('.flyout-right-alert').addClass('active');
        });
    })

    //scopeHolder.getReportMsgCount();
    //var scope = angular.element(document.getElementById('container')).scope();

    //setTimeout(function () { scope.getReportMsgCount() }, 5000); //setInterval
    //clearInterval(intervalId);
    //intervalId = setInterval(function () {
    //    angular.element(document.getElementById('container')).scope().getReportMsgCount();
    //}, 20000);

    // Chrome 1 - 71
    var isChrome = !!window.chrome && (!!window.chrome.webstore || !!window.chrome.runtime);

    //For Chart Show

    //var $hiddenChartId = $('#hiddenChartId1');
    //$hiddenChartId.on('change', showChart);

    var testDataBar = {
        "graphset": [{
            "type": "hbar", //hbar
            "plot": {
                "bars-overlap": "100%",
                //"value-box": { "text": "%g", "angle": 0, "placement": "bottom-in", "font-color": "black", "offset-y": 0, "align": "left", "font-weight": "normal" }
                "hover-state": {
                    "visible": false
                },
                "animation": {
                    "delay": 300,
                    "sequence": 1
                }
            },
            "labels": [
                {
                    "text": "Test task: 75%",
                    "background-color": "transparent", //#90A23B, transparent
                    "font-size": "12px",
                    "font-family": "arial",
                    "font-weight": "normal",
                    "font-color": "#FFFFFF",
                    //"text-align": "right",
                    "padding": "6%",
                    "border-radius": "3px",
                    //"x":"30%",
                    "offset-x": -100,
                    "offset-y": 0, //-30
                    "shadow": false,
                    "callout": false,
                    //"callout-height": "10px",
                    //"callout-width": "15px",
                    "hook": "node:plot=1;index=0"
                },
                {
                    "text": "Test biểu đồ tiến độ: 55%",
                    "background-color": "transparent", //#90A23B, transparent
                    "font-size": "12px",
                    "font-family": "arial",
                    "font-weight": "normal",
                    "font-color": "#FFFFFF",
                    //"text-align": "right",
                    "padding": "6%",
                    "border-radius": "3px",
                    //"x":"30%",
                    "offset-x": -100,
                    "offset-y": 0, //-30
                    "shadow": false,
                    "callout": false,
                    //"callout-height": "10px",
                    //"callout-width": "15px",
                    "hook": "node:plot=1;index=1"
                },
                {
                    "text": "Test task: 75%",
                    "background-color": "transparent", //#90A23B, transparent
                    "font-size": "12px",
                    "font-family": "arial",
                    "font-weight": "normal",
                    "font-color": "#FFFFFF",
                    //"text-align": "right",
                    "padding": "6%",
                    "border-radius": "3px",
                    //"x":"30%",
                    "offset-x": -100,
                    "offset-y": 0, //-30
                    "shadow": false,
                    "callout": false,
                    //"callout-height": "10px",
                    //"callout-width": "15px",
                    "hook": "node:plot=1;index=2"
                },
                {
                    "text": "Coding cho chức năng login: 70%",
                    "background-color": "transparent", //#787878
                    "font-size": "12px",
                    "font-family": "arial",
                    "font-weight": "normal",
                    "font-color": "#FFFFFF",
                    "padding": "6%",
                    "border-radius": "3px",
                    "offset-x": -100,
                    "offset-y": 0, //-30
                    "shadow": false,
                    "callout": false,
                    //"callout-height": "10px",
                    //"callout-width": "15px",
                    "hook": "node:plot=1;index=3"
                },
                {
                    "text": "Test task: 75%",
                    "background-color": "transparent", //#90A23B, transparent
                    "font-size": "12px",
                    "font-family": "arial",
                    "font-weight": "normal",
                    "font-color": "#FFFFFF",
                    //"text-align": "right",
                    "padding": "6%",
                    "border-radius": "3px",
                    //"x":"30%",
                    "offset-x": -100,
                    "offset-y": 0, //-30
                    "shadow": false,
                    "callout": false,
                    //"callout-height": "10px",
                    //"callout-width": "15px",
                    "hook": "node:plot=1;index=4"
                },
                {
                    "text": "Test task: 75%",
                    "background-color": "transparent", //#90A23B, transparent
                    "font-size": "12px",
                    "font-family": "arial",
                    "font-weight": "normal",
                    "font-color": "#FFFFFF",
                    //"text-align": "right",
                    "padding": "6%",
                    "border-radius": "3px",
                    //"x":"30%",
                    "offset-x": -100,
                    "offset-y": 0, //-30
                    "shadow": false,
                    "callout": false,
                    //"callout-height": "10px",
                    //"callout-width": "15px",
                    "hook": "node:plot=1;index=5"
                },
                {
                    "text": "Coding cho Danh mục đối tượng: 80%",
                    "thousands-separator": ",",
                    "background-color": "transparent", //#FFC700
                    "font-size": "12px",
                    "font-family": "arial",
                    "font-weight": "normal",
                    "font-color": "#FFFFFF",
                    "padding": "6%",
                    "border-radius": "3px",
                    "offset-x": -100,
                    "offset-y": 0, //-30
                    "shadow": false,
                    "callout": false,
                    //"callout-height": "10px",
                    //"callout-width": "15px",
                    "hook": "node:plot=1;index=6"
                },
                {
                    "text": "Test task: 75%",
                    "background-color": "transparent", //#90A23B, transparent
                    "font-size": "12px",
                    "font-family": "arial",
                    "font-weight": "normal",
                    "font-color": "#FFFFFF",
                    //"text-align": "right",
                    "padding": "6%",
                    "border-radius": "3px",
                    //"x":"30%",
                    "offset-x": -100,
                    "offset-y": 0, //-30
                    "shadow": false,
                    "callout": false,
                    //"callout-height": "10px",
                    //"callout-width": "15px",
                    "hook": "node:plot=1;index=7"
                },
            ],
            "scale-x": {
                "labels": ["Task1", "Task2", "Task3", "Task4", "Task5", "Task6", "Task7", "Task8"]
            },
            "series": [
                {                    
                    "values": [70, 50, 75, 81, 70, 73, 67, 46],
                    "offset-values": [10, 7, 5, 15, 18, 20, 14, 9],
                    "backgroundColor": "gray", //#D3D3D3
                    "alpha": 0.6,
                    "hover-state": {
                        "visible": false
                    },
                    "max-trackers": 0
                },
                {
                    "values": [53, 37, 51, 46, 37, 46, 58, 36],
                    "offset-values": [14, 3, 7, 19, 14, 23, 11, 7],
                    "backgroundColor": "#008000",
                    "alpha": 0.8,
                    "bar-width": "60%"
                }
            ]
        }]
    };

    var testDataBar2 = {
        "graphset": [
            {
                "type": "bar",
                "title": { "text": "", "font-color": "#605F3D", "backgroundColor": "none", "font-size": "16px", "align": "left", "alpha": 1, "adjust-layout": true },
                "plot": {
                    "value-box": { "text": "%t", "angle": -90, "placement": "bottom-in", "font-color": "black", "offset-y": -85, "align": "left", "font-weight": "normal" },
                    "tooltip": { "text": "%v", "padding": "5 10" }, "styles": ["#FFD700", "orange", "yellow", "#DEB887", "green", "blue", "#D2691E", "purple", "#B8860B", "brown", "#9370DB", "#C71585"]
                },
                "plotarea": { "adjust-layout": true },
                //"labels": ["Ban giám đốc", "+ Trần Thế Linh", "Phòng kế toán", "Phòng bảo hành", "Về doanh số triển khai (ĐVT: VNĐ)", "Phòng triển khai 1", "+ Trịnh Thị Hà", "+ Nguyễn Trung Sơn", "+ Trần Thị Thu Thắng", "Phòng triển khai 2", "Phòng bảo hành", "+ Bảo trì", "+ Nguyễn Thị Kiều Anh", "+ Nguyễn Thị Lan", "+ Phong bao hanh", "+ Đoàn Thị Thảo", "Phòng phát triển"],
                "scale-y": { "short": true },
                "scale-x": {
                    //"label": { "text": "" }
                    "labels": ["Ban giám đốc", "+ Trần Thế Linh", "Phòng kế toán", "Phòng bảo hành", "Về doanh số triển khai (ĐVT: VNĐ)", "Phòng triển khai 1", "+ Trịnh Thị Hà", "+ Nguyễn Trung Sơn", "+ Trần Thị Thu Thắng", "Phòng triển khai 2", "Phòng bảo hành", "+ Bảo trì", "+ Nguyễn Thị Kiều Anh", "+ Nguyễn Thị Lan", "+ Phong bao hanh", "+ Đoàn Thị Thảo", "Phòng phát triển"]
                },
                "series": [{ "text": "", "values": [70.85, 51.82, 64.89, 104.31, 71.32, 73.56, 21.11, 154.99, 0, 0, 76.27, 99.11, 39.27, 0, 0, 74.18, 656.5], "goals": "", "borderRadiusTopLeft": 7, "alpha": 1.0, "backgroundColor": "", "hoverState": { "visible": true }, "maxTrackers": 0, "barWidth": "", "offsetValues": null, "type": null, "aspect": null, "contourOnTop": false, "dataSide": 0 }]
            }  
        ]
    };

    setTimeout(function () { showChart() }, 1000);

    

    function showChart() {

        var readyAutoSpeechFlg = false;

        var testingFlg = false;

        try {

            for (var i = 1; i <= 10; i++) {

                var hiddenChartValue = $('#hiddenChartId' + i).val();
                if (hiddenChartValue != undefined && hiddenChartValue != null && hiddenChartValue != "") {
                    hiddenChartValue = '{ "gui":{ "contextMenu" : { "empty" : "true"}}, "graphset": [' + hiddenChartValue + ']}';

                    //var chartDiv = document.getElementById("myChart" + i);
                    //chartDiv.style.visibility = "visible";
                    var jsonData = JSON.parse(hiddenChartValue);

                    if (i == 1 && testingFlg) {
                        var jsonData = testDataBar2;
                    }

                    zingchart.render({
                        id: 'myChart' + i,
                        data: jsonData,
                        height: '100%',
                        width: '100%'
                    });

                    var chartElementCount = $('#chartElementCount' + i).val();
                    var minWidth = 800;
                    if (chartElementCount > 6) {
                        minWidth += (chartElementCount - 6) * 70;
                    }

                    //if (i == 1) {
                    //    say("Xin chào các bạn, tôi muốn thử xem sao!");
                    //}
                    //$scope.waiting = false;
                    //alert("IN: i=" + i + "; hiddenChartValue = " + hiddenChartValue);
                    if (i == 1) {
                        $('#myChart' + i).css('visibility', 'visible');
                        $('#myChart' + i).css('height', '460px');
                        $('#myChart' + i).css('min-height', '350px');
                        $('#myChart' + i).css('min-width', minWidth + 'px');
                        $('#whiteDiv' + i).css('height', '20px');
                        $('#whiteCell' + i).css('height', '20px');
                        $('#configMenu' + i).css('display', 'inline-block');
                        $('#dropbtn' + i).css('display', 'inline-block');
                        $('#chartOptionCell' + i).css('background-color', 'white');
                        document.getElementById("arrow" + i).src = "/Images/arrow_down_24x24.png";
                        
                        //var licenseDiv = document.getElementById("myChart" + i + "-license-text");
                        ////var licenseDiv = document.getElementById("chartChildBox" + i);
                        //if (licenseDiv != null) {
                        //    licenseDiv.innerHTML = "<a title='Meliasoft' style='text-decoration: none; color: rgb(109, 110, 113) !important; font-size: 11px !important; display: block !important; opacity: 1 !important; font-family: &quot;Lucida Sans Unicode&quot;, &quot;Lucida Grande&quot;, &quot;Lucida Sans&quot;, Helvetica, Arial, sans-serif;' href='http://www.meliasoft.com.vn'>Powered by <span style='color:#00384A; font-weight:bold;'>Meliasoft</span></a>";
                        //}
                        //var divCopyrightId = "myChart" + i + "-license-text";
                        //var divMenuId = "myChart" + i + "-menu";
                        //setTimeout(function () { hideCopyright(divCopyrightId, divMenuId) }, 1000);
                        setTimeout(function () { hideAllCopyright() }, 750);
                        
                    } else {
                        //var chartDiv = document.getElementById("myChart" + i);
                        //chartDiv.style.visibility = "hidden";
                        $('#myChart' + i).css('visibility', 'hidden');
                        $('#myChart' + i).css('height', '0px');
                        $('#myChart' + i).css('min-height', '0px');
                        $('#whiteCell' + i).css('height', '0px');
                        $('#whiteDiv' + i).css('height', '0px');
                        //$('#configMenu' + i).css('height', '0px');
                        $('#configMenu' + i).css('display', 'none');
                        $('#dropbtn' + i).css('display', 'none');
                        $('#chartOptionCell' + i).css('background-color', 'transparent');
                        document.getElementById("arrow" + i).src = "/Images/arrow_right_24x24.png";
                    }
                    

                    readyAutoSpeechFlg = true;

                } else {
                    //alert("else: i=" + i + "; hiddenChartValue = " + hiddenChartValue);
                    if (i == 1) {
                        //alert('setTimeout(function () { showChart() }, 1000);');
                        setTimeout(function () { showChart() }, 1000);
                        //} else {

                        //    var chartDiv = document.getElementById("myChart" + i);
                        //    chartDiv.style.visibility = "hidden";
                        //    //chartDiv.style.min-height = "0px;";
                        //    //chartDiv.style.height = "0px;";
                        //    $('#myChart' + i).css('height', '0px');
                        //    $('#myChart' + i).css('min-height', '0px');
                    }
                    //break;
                }

            }

            if (readyAutoSpeechFlg) {
                //alert("readyAutoSpeechFlg = " + readyAutoSpeechFlg);
                setTimeout(function () { autoSpeech() }, 3000);
            }
        }
        catch (err) {
            alert("showChart() : " + err.message);
        }

    }

    function hideCopyright(divCopyrightId, divMenuId) {
        try {
            
            var licenseDiv = document.getElementById(divCopyrightId);
            if (licenseDiv != null) {
                licenseDiv.innerHTML = "<a title='Meliasoft' style='text-decoration: none; color: rgb(109, 110, 113) !important; font-size: 11px !important; display: block !important; opacity: 1 !important; font-family: &quot;Lucida Sans Unicode&quot;, &quot;Lucida Grande&quot;, &quot;Lucida Sans&quot;, Helvetica, Arial, sans-serif;' href='http://www.meliasoft.com.vn'>Powered by <span style='color:#00384A; font-weight:bold;'>Meliasoft</span></a>";
            }
            //myChart1-menu
            var menuDiv = document.getElementById(divMenuId);
            if (menuDiv != null) {
                menuDiv.outerHTML = "";
            }
        }
        catch (err) {
            console.log("hideCopyright() : " + err.message);
        }
    }

    function hideAllCopyright() {
        try {
            for (var i = 1; i <= 10; i++) {

                var divCopyrightId = "myChart" + i + "-license-text";
                var divMenuId = "myChart" + i + "-menu";

                //alert('divCopyrightId = ' + divCopyrightId);
                var licenseDiv = document.getElementById(divCopyrightId);
                if (licenseDiv != null) {
                    licenseDiv.innerHTML = "<a title='Meliasoft' style='text-decoration: none; color: rgb(109, 110, 113) !important; font-size: 11px !important; display: block !important; opacity: 1 !important; font-family: &quot;Lucida Sans Unicode&quot;, &quot;Lucida Grande&quot;, &quot;Lucida Sans&quot;, Helvetica, Arial, sans-serif;' href='http://www.meliasoft.com.vn'>Powered by <span style='color:#00384A; font-weight:bold;'>Meliasoft</span></a>";
                }
                //myChart1-menu
                var menuDiv = document.getElementById(divMenuId);
                if (menuDiv != null) {
                    menuDiv.outerHTML = "";
                }
            }

            setTimeout(function () { hideAllCopyright() }, 1000);
        }
        catch (err) {
            console.log("hideAllCopyright() : " + err.message);
        }
    }

    function showHideChart(linkObj) {
        var linkId = linkObj.getAttribute("id");
        var chartId = linkId.replace("showHideChart", "");
        var isDisplayed = $('#myChart' + chartId).css('visibility');
        var chartElementCount = $('#chartElementCount' + chartId).val();
        var minWidth = 800;
        if (chartElementCount > 6) {
            minWidth += (chartElementCount - 6) * 70;
        }
        if (isDisplayed == 'hidden') {
            $('#myChart' + chartId).css('visibility', 'visible');
            $('#myChart' + chartId).css('height', '460px');
            $('#myChart' + chartId).css('min-height', '350px');
            $('#myChart' + chartId).css('min-width', minWidth + 'px');
            $('#whiteDiv' + chartId).css('height', '20px');
            $('#whiteCell' + chartId).css('height', '20px');
            //$('#configMenu' + chartId).css('height', '30px');
            $('#configMenu' + chartId).css('display', 'inline-block');
            $('#dropbtn' + chartId).css('display', 'inline-block');
            $('#chartOptionCell' + chartId).css('background-color', 'white');   
            document.getElementById("arrow" + chartId).src = "/Images/arrow_down_24x24.png";
            //myChart1-license-text
            
            //var licenseDiv = document.getElementById(divCopyrightId);
            //if (licenseDiv != null) {
            //    licenseDiv.innerHTML = "<a title='Meliasoft' style='text-decoration: none; color: rgb(109, 110, 113) !important; font-size: 11px !important; display: block !important; opacity: 1 !important; font-family: &quot;Lucida Sans Unicode&quot;, &quot;Lucida Grande&quot;, &quot;Lucida Sans&quot;, Helvetica, Arial, sans-serif;' href='http://www.meliasoft.com.vn'>Powered by <span style='color:#00384A; font-weight:bold;'>Meliasoft</span></a>";
            //}
            var divCopyrightId = "myChart" + chartId + "-license-text";
            var divMenuId = "myChart" + chartId + "-menu";
            //myChart1-menu
            setTimeout(function () { hideCopyright(divCopyrightId, divMenuId) }, 500);
        } else {
            //var chartDiv = document.getElementById("myChart" + i);
            //chartDiv.style.visibility = "hidden";
            $('#myChart' + chartId).css('visibility', 'hidden');
            $('#myChart' + chartId).css('height', '0px');
            $('#myChart' + chartId).css('min-height', '0px');
            $('#whiteCell' + chartId).css('height', '0px');
            $('#whiteDiv' + chartId).css('height', '0px');
            //$('#configMenu' + chartId).css('height', '0px');
            $('#configMenu' + chartId).css('display', 'none');
            $('#dropbtn' + chartId).css('display', 'none');
            $('#chartOptionCell' + chartId).css('background-color', 'transparent');   
            document.getElementById("arrow" + chartId).src = "/Images/arrow_right_24x24.png";
        }

    }

    function convertToLanguageCode(selectedLang) {
        var selectedLangCode = '';
        //English(US)	Standard	en-US
        //French (France)	Standard	fr-FR
        //German (Germany)	Standard	de-DE
        //Italian (Italy)	Standard	it-IT
        //Japanese (Japan)	Standard	ja-JP
        //Korean (South Korea)
        //Portuguese (Portugal)	Standard	pt-PT
        //Russian (Russia)	Standard	ru-RU
        //Spanish (Spain)	Standard	es-ES
        //Vietnamese vi-VN
        switch (selectedLang) {
            case 'English':
                selectedLangCode = 'en-US';
                break;
            case 'French':
                selectedLangCode = 'fr-FR';
                break;
            case 'German':
                selectedLangCode = 'de-DE';
                break;
            case 'Italian':
                selectedLangCode = 'it-IT';
                break;
            case 'Japanese':
                selectedLangCode = 'ja-JP';
                break;
            case 'Korean':
                selectedLangCode = 'ko-KR';
                break;
            case 'Portuguese':
                selectedLangCode = 'pt-PT';
                break;
            case 'Russian':
                selectedLangCode = 'ru-RU';
                break;
            case 'Spanish':
                selectedLangCode = 'es-ES';
                break;
            case 'Taiwan':
                selectedLangCode = 'zh-TW';
                break;
            default:
                selectedLangCode = 'vi-VN';
        }

        return selectedLangCode;
    }

    function convertToLanguageName(selectedLangCode) {
        var selectedLangName = '';
        //English(US)	Standard	en-US
        //French (France)	Standard	fr-FR
        //German (Germany)	Standard	de-DE
        //Italian (Italy)	Standard	it-IT
        //Japanese (Japan)	Standard	ja-JP
        //Korean (South Korea)
        //Portuguese (Portugal)	Standard	pt-PT
        //Russian (Russia)	Standard	ru-RU
        //Spanish (Spain)	Standard	es-ES
        //Vietnamese vi-VN

        switch (selectedLangCode) {
            case 'en':
                selectedLangName = 'English';
                break;
            case 'fr':
                selectedLangName = 'French';
                break;
            case 'de':
                selectedLangName = 'German';
                break;
            case 'it':
                selectedLangName = 'Italian';
                break;
            case 'ja':
                selectedLangName = 'Japanese';
                break;
            case 'ko':
                selectedLangName = 'Korean';
                break;
            case 'pt':
                selectedLangName = 'Portuguese';
                break;
            case 'ru':
                selectedLangName = 'Russian';
                break;
            case 'es':
                selectedLangName = 'Spanish';
                break;
            case 'zh':
                selectedLangName = 'Taiwan';
                break;
            case 'zh-TW':
                selectedLangName = 'Taiwan';
                break;
            default:
                selectedLangName = 'Vietnamese';
        }

        return selectedLangName;
    }

    // Voice
    var playingId = -1;
    var selectedLanguage = getCurrentLanguage(); //"Vietnamese";   

    function getCurrentLanguage() {
        //var previousLang = google.translate.TranslateElement().a.sd;
        //alert("previousLang = " + previousLang);
        var currentLanguage = "Vietnamese";   

        var cookie = document.cookie;
        var position = cookie.indexOf("googtrans");
        if (position >= 0) {
            var previousLangCode = cookie.substring(position + 11, position + 16);
            //alert("previousLangCode = " + previousLangCode);
            position = previousLangCode.indexOf("/");
            //alert("position = " + position);
            var previousLangCodeCut = previousLangCode.substring(position + 1, position + 3);
            //alert("previousLangCodeCut = " + previousLangCodeCut);

            currentLanguage = convertToLanguageName(previousLangCodeCut);
            //alert("cookie = " + cookie);
            //alert("previousLang = " + currentLanguage);
        }    

        document.getElementById("imgSpeaking").src = "/Images/speaking/" + currentLanguage + ".gif"; //src = "~/Images/speaking/Vietnamese.gif"

        return currentLanguage;
    }

    function LanguageForResponsiveVoice(selectedLangName) {
        var selectedLangNn = selectedLangName;

        if (selectedLangName == "English") {
            selectedLangNn = "US " + selectedLangName;
        } else if (selectedLangName == "Taiwan") {
            selectedLangNn = "Chinese " + selectedLangName; ////Chinese Taiwan Female
        }

        

        return selectedLangNn;
    }

    window.addEventListener("beforeunload", function (event) {
        //event.returnValue = "Write something clever here..";
        cancelVoice();
    });

    function cancelVoice() {
        try {
            if (responsiveVoice.is_chrome) { //isChrome
                console.log('window.onbeforeunload, isChrome = true');
                window.speechSynthesis.cancel();

                console.log('After Google speechSynthesis.cancel');
            } else {
                console.log('window.onbeforeunload, isChrome = false');
                if (!responsiveVoice.cancelled)
                    responsiveVoice.cancel();

                console.log('After responsiveVoice.cancel');
            }
        } catch (err) {
            console.log('cancelVoice: error!');
        }
        
    }

    function GoogleSays(myText) {
        try
        {        
            var msg = new SpeechSynthesisUtterance();
            var voices = window.speechSynthesis.getVoices();
            console.log(voices);
            var langCode = convertToLanguageCode(selectedLanguage);
            //alert('langCode = ' + langCode);
            msg.voice = voices[10];
            //msg.voiceURI = "native";
            msg.volume = 1;
            msg.rate = 1;
            msg.pitch = 0.8;
            msg.text = myText;
            msg.lang = langCode;
            window.speechSynthesis.speak(msg);

            msg.onend = function (event) {
                progressBarValue = 0;
                progressBarUpdate(false, 0);
              document.getElementById(playingId).src = "/Images/speaker_black_36.png";

                playingId = -1;

                console.log('Google: EndCallback');
            };

            //window.onbeforeunload = function (e) {
            //    //if (window.speechSynthesis.speaking) {
            //    //    event.preventDefault();
            //    //    msg.addEventListener('end', function (event) {
            //    //        //logic to continue unload here
            //    //    });
            //    //}
            
           
            //};

            //-----------------------------------------
            //var lang = 'vi-VN';
            //var msg = new SpeechSynthesisUtterance();
            //var voices = window.speechSynthesis.getVoices();
            //msg.voice = voices.filter(voice => voice.lang == lang)[2];
            //msg.text = m; //'Hệ thống đã khởi động, chào mừng Hiệp quay trở lại';
            //msg.lang = lang;
            //window.speechSynthesis.speak(msg);
        }
        catch (err) {
            alert("GoogleSays() : " + err.message);
        }
    }

    function getOffset(el) {
        const rect = el.getBoundingClientRect();
        return {
            left: rect.left + window.scrollX,
            top: rect.top + window.scrollY
        };
    }

    function checkBrowser() {
        // Opera 8.0+
        var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

        // Firefox 1.0+
        var isFirefox = typeof InstallTrigger !== 'undefined';

        // Safari 3.0+ "[object HTMLElementConstructor]" 
        var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification));

        // Internet Explorer 6-11
        var isIE = false || !!document.documentMode;

        // Edge 20+
        var isEdge = !isIE && !!window.StyleMedia;

        // Chrome 1 - 71
        //var isChrome = !!window.chrome && (!!window.chrome.webstore || !!window.chrome.runtime);

        // Blink engine detection
        var isBlink = (isChrome || isOpera) && !!window.CSS;


        var output = 'Detecting browsers by ducktyping:<hr>';
        output += 'isFirefox: ' + isFirefox + '<br>';
        output += 'isChrome: ' + isChrome + '<br>';
        output += 'isSafari: ' + isSafari + '<br>';
        output += 'isOpera: ' + isOpera + '<br>';
        output += 'isIE: ' + isIE + '<br>';
        output += 'isEdge: ' + isEdge + '<br>';
        output += 'isBlink: ' + isBlink + '<br>';
        document.body.innerHTML = output;
    }

    function translateToVoice(obj) {

        try {


            var isPlaying = false;
            var imgId = obj.getAttribute("id");
            var imgName = document.getElementById(imgId).src;
            var idx = imgName.indexOf("pause_32x32");
            //var isChromium = window.chrome;
            // Chrome 1 - 71
            //var isChrome = !!window.chrome && (!!window.chrome.webstore || !!window.chrome.runtime);

            //alert("imgName = " + imgName);

            var msg = 'Nội dung báo cáo chưa có, vui lòng liên hệ với Meliasoft để được hỗ trợ.';

            //var hiddenChartVoiceMsgValue = $('#spnVoiceMsg' + imgId).text();
            var hiddenChartVoiceMsgValue = $('#showHideChart' + imgId).attr("title");
            //var testV = document.getElementById('showHideChart' + imgId).title;
            //alert('testV = ' + testV);
            if (hiddenChartVoiceMsgValue != undefined && hiddenChartVoiceMsgValue != null) {
                msg = hiddenChartVoiceMsgValue;
                //alert('msg = ' + msg);
            }

            //var top = window.scrollY + obj.getBoundingClientRect().top;
            //alert(getOffset(document.getElementById(imgId)).top);
            //alert("Img top = " + top);

            var msgArray = msg.split(" ");

            if (idx >= 0)
                isPlaying = true;

            if (playingId != imgId) {



                if (playingId >= 0) {
                    progressBarValue = 0;
                    progressBarUpdate(false, 0);
                    document.getElementById(playingId).src = "/Images/speaker_black_36.png";
                    //if (isChrome) {
                    //    window.speechSynthesis.cancel();
                    //    console.log("Google cancel");
                    //} else {
                    //    responsiveVoice.cancel();
                    //    console.log("ResponsiveVoice cancel");
                    //}
                    cancelVoice();
                }
                playingId = imgId;

                document.getElementById(imgId).src = "/Images/pause_32x32.png";
                //if (responsiveVoice.is_chrome) { //isChrome
                //    //alert("Google Says");
                //    GoogleSays(msg);
                //    console.log("Google speak");
                //} else {
                    //alert("ResponsiveVoice Says");
                    responsiveVoice.speak(msg, LanguageForResponsiveVoice(selectedLanguage) + ' Female', parameters); //{ onend: yourCallbackGoesHere } 'Xin chào các bạn, tôi đang nói những lời đơn giản nhất, các bạn có nghe rõ không?!'
                    console.log("ResponsiveVoice speak");
                //}
                progressBarUpdate(true, msgArray.length);
                document.getElementById("imgSpeaking").src = "/Images/speaking/" + selectedLanguage + ".gif";

            } else {

                if (playingId >= 0) {
                    progressBarValue = 0;
                    progressBarUpdate(false, 0);
                    document.getElementById(playingId).src = "/Images/speaker_black_36.png";
                    //if (isChrome) {
                    //    window.speechSynthesis.cancel();
                    //    console.log("Google cancel");
                    //} else {
                    //    responsiveVoice.cancel();
                    //    console.log("ResponsiveVoice cancel");
                    //}
                    cancelVoice();

                    playingId = -1;
                }

                //if (isPlaying) {
                //    document.getElementById(imgId).src = "/Images/speaker_black_36.png";

                //    if (isChromium) {
                //        //alert("Google Says");
                //        window.speechSynthesis.pause();
                //        console.log("Google pause");
                //    } else {
                //        responsiveVoice.pause();
                //        console.log("ResponsiveVoice pause");
                //    }
                //    progressBarUpdate(false, 0);
                //}
                //else {
                //    document.getElementById(imgId).src = "/Images/pause_32x32.png";

                //    if (isChromium) {                    
                //        window.speechSynthesis.resume();
                //        console.log("Google resume");
                //    } else {
                //        responsiveVoice.resume();
                //        console.log("ResponsiveVoice resume");
                //    }
                //    progressBarUpdate(true, msgArray.length);
                //}
            }

            //var audio = new Audio();
            //audio.src = 'http://translate.google.com/translate_tts?ie=utf-8&tl=vi&q=' + msg;
            //audio.play();
        } catch (err) {
            alert("translateToVoice() : " + err.message);
        }
    }

    

    function voiceStartCallback() {
        console.log("ResponsiveVoice started");
    }

    function voiceEndCallback() {
        console.log("ResponsiveVoice ended");
        //alert('ResponsiveVoice: EndCallback');
        
        progressBarValue = 0;
        progressBarUpdate(false, 0);
        document.getElementById(playingId).src = "/Images/speaker_black_36.png";
        playingId = -1;
        
    }

    var parameters = {
        onstart: voiceStartCallback,
        onend: voiceEndCallback
    }

    function autoSpeech() {
        //var elements = document.getElementByClass('AutoSpeech');
        //
        //for (var i = 1; i <= 10; i++) {
            var hiddenAutoSpeechValue = $('#hiddenAutoSpeech1').val(); // + i

            console.log(hiddenAutoSpeechValue) // print test.

            if (hiddenAutoSpeechValue == true || hiddenAutoSpeechValue == 'true' || hiddenAutoSpeechValue == 1) {
                //alert("ID (" + i + ") = " + hiddenAutoSpeechValue);
                var oneSpeakerImg = document.getElementById("1"); // + i
                translateToVoice(oneSpeakerImg);
            }

        //}

        //var hiddenAutoSpeechValues = $('#hiddenAutoSpeech').val();
        //alert("hiddenAutoSpeechValues = " + hiddenAutoSpeechValues);
    }

    var progressBarValue = 0;
    var intervalProgress;

    function progressBarUpdate(playFlg, wordsCount) {

        var speakingDiv = document.getElementById("speakingDiv");
        var elemParent = document.getElementById("myProgress");
        var elem = document.getElementById("myBar");

        if (playFlg) {

            speakingDiv.style.visibility = "visible";
            elemParent.style.visibility = "visible";
            speakingDiv.style.height = "155px;";

            var totalSeconds = wordsCount / 2;
            var wordOn1Percent = totalSeconds / 100;
            var oneFloatInterval = wordOn1Percent * 1000;
            var intIntervalValue = Math.round(oneFloatInterval);

            //alert("wordsCount = " + wordsCount + "; intIntervalValue = " + intIntervalValue);

            //1p = 5words
            //1s = 3w
            //var width = 1;
            intervalProgress = setInterval(frame, intIntervalValue);
            function frame() {
                if (progressBarValue >= 100) {
                    clearInterval(intervalProgress);
                    speakingDiv.style.visibility = "hidden";
                    elemParent.style.visibility = "hidden";
                    speakingDiv.style.height = "0px;";
                    document.getElementById(playingId).src = "/Images/speaker_black_36.png";
                    progressBarValue = 0;
                } else {
                    progressBarValue++;
                    //elem.style.width = progressBarValue + '%';
                    //elem.innerHTML = progressBarValue * 1 + '%';
                }
                elem.style.width = progressBarValue + '%';
                //elem.innerHTML = progressBarValue * 1 + '%';
            }
        } else {
            clearInterval(intervalProgress);
            speakingDiv.style.visibility = "hidden";
            elemParent.style.visibility = "hidden";
            speakingDiv.style.height = "0px;";

            document.getElementById(playingId).src = "/Images/speaker_black_36.png";
            //progressBarValue = 0;
            elem.style.width = progressBarValue + '%';
            //elem.innerHTML = progressBarValue * 1 + '%';
        }

    }


    // Make the DIV element draggable:
    dragElement(document.getElementById("speakingDiv"));

    function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementById(elmnt.id + "Header")) {
            // if present, the header is where you move the DIV from:
            document.getElementById(elmnt.id + "Header").onmousedown = dragMouseDown;
        } else {
            // otherwise, move the DIV from anywhere inside the DIV: 
            elmnt.onmousedown = dragMouseDown;
        }

        function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            // get the mouse cursor position at startup:
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            // call a function whenever the cursor moves:
            document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();
            // calculate the new cursor position:
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            // set the element's new position:
            elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
            elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        }

        function closeDragElement() {
            // stop moving when mouse button is released:
            document.onmouseup = null;
            document.onmousemove = null;
        }

        /* listen to the touchmove event,
        every time it fires, grab the location
        of touch and assign it to box */
        elmnt.addEventListener('touchmove', function (e) {
            // grab the location of touch
            var touchLocation = e.targetTouches[0];

            // assign box new coordinates based on the touch.
            elmnt.style.left = (touchLocation.pageX - 100) + 'px';
            elmnt.style.top = (touchLocation.pageY - 55) + 'px';
        })

        /* record the position of the touch
        when released using touchend event.
        This will be the drop position. */
        elmnt.addEventListener('touchend', function (e) {
            // current box position.
            var x = parseInt(elmnt.style.left);
            var y = parseInt(elmnt.style.top);
        })
    }

    
    function hideSubMenu(selectedLang) {
        selectedLanguage = selectedLang;
        //document.getElementById('dropDownSelections').style.display = 'none';
        $("div").removeClass("active");
  }

  function showBackButton() {
    //const url = new URL("https://sdkapp.example.com:8443/central-login/index.html?client_id=dtvClient&redirect_uri=https://www.example3.com:443/callback"); // for example
    var url = window.location.href;
    //var split = url.split("username=");
    //var linkBack = document.getElementById('lnkBackBtn');
    //var imgBack = document.getElementById('imgBackBtn');
    var linkLogo = document.getElementById('lnkLogo');
    var imgLogo = document.getElementById('imgLogo');

    var rptHeaderDiv = document.getElementById('rptHeaderDiv');
    var spnChangePwd = document.getElementById('spnChangePwd');

    var showBackFlg = false;

    //
    if (url.toLocaleLowerCase().includes('webai=true') || url.toLocaleLowerCase().includes('webai=yes')) {
      showBackFlg = true;
    } else {
      if (url.includes("report_id")) {
        var webai = localStorage.getItem("webai");

        console.log("webai = " + webai);
        if (webai == 'yes') {
          showBackFlg = true;
        }
      }
    }

    console.log("url = " + url);
    if (showBackFlg) {
      console.log("url includes username");
      //linkBack.style.visibility = 'visible';
      linkLogo.style.visibility = 'hidden';
      spnChangePwd.style.visibility = 'hidden';
      spnChangePwd.style.padding = '0px 0px';
      ////width: 0px;
      //imgBack.style.width = '30px';
      //imgBack.style.height = '22px';
      imgLogo.style.width = '0px';
      
      rptHeaderDiv.style.backgroundColor = 'white';

      localStorage.setItem("webai", "yes");

      //$('logo-wrapper:after').css('display', 'none');
      //$('logo-wrapper').addClass('no-after'); 
      //$('.logo-wrapper-new:after').css('display', 'none');
    } else {
      
      localStorage.setItem("webai", "no");
      console.log("url dont include username");
      //lnkLogo
      //linkBack.style.visibility = 'hidden';
      linkLogo.style.visibility = 'visible';
      spnChangePwd.style.visibility = 'visible';
      spnChangePwd.style.padding = '10px 20px';

      //imgBack.style.width = '0px';
      imgLogo.style.width = '150px';

      rptHeaderDiv.style.backgroundColor = 'white';
    }

  }

  

</script>

