.o365cs-base-visibility {
	visibility:visible
}
.ms-fcl-tdr,.ms-fcl-tdr-h:hover {
	color:#802240
}
.ms-bgc-tdr,.ms-bgc-tdr-h:hover {
	background-color:#802240
}
.ms-bcl-tdr,.ms-bcl-tdr-h:hover {
	border-color:#802240
}
.ms-fcl-td,.ms-fcl-td-h:hover {
	color:#a42c51
}
.ms-bgc-td,.ms-bgc-td-h:hover {
	background-color:#a42c51
}
.ms-bcl-td,.ms-bcl-td-h:hover {
	border-color:#a42c51
}
.ms-fcl-tda,.ms-fcl-tda-h:hover {
	color:#a42c51
}
.ms-bgc-tda,.ms-bgc-tda-h:hover {
	background-color:#a42c51
}
.ms-bcl-tda,.ms-bcl-tda-h:hover {
	border-color:#a42c51
}
.ms-fcl-tp,.ms-fcl-tp-h:hover {
	color:#c93664
}
.ms-bgc-tp,.ms-bgc-tp-h:hover {
	background-color:#c93664
}
.ms-bcl-tp,.ms-bcl-tp-h:hover {
	border-color:#c93664
}
.ms-fcl-ts,.ms-fcl-ts-h:hover {
	color:#c6748d
}
.ms-bgc-ts,.ms-bgc-ts-h:hover {
	background-color:#c6748d
}
.ms-bcl-ts,.ms-bcl-ts-h:hover {
	border-color:#c6748d
}
.ms-fcl-tt,.ms-fcl-tt-h:hover {
	color:#dbb9c3
}
.ms-bgc-tt,.ms-bgc-tt-h:hover {
	background-color:#dbb9c3
}
.ms-bcl-tt,.ms-bcl-tt-h:hover {
	border-color:#dbb9c3
}
.ms-fcl-tl,.ms-fcl-tl-h:hover {
	color:#f5e6eb
}
.ms-bgc-tl,.ms-bgc-tl-h:hover {
	background-color:#f5e6eb
}
.ms-bcl-tl,.ms-bcl-tl-h:hover {
	border-color:#f5e6eb
}
.ms-fcl-tlr,.ms-fcl-tlr-h:hover {
	color:#fcf7f9
}
.ms-bgc-tlr,.ms-bgc-tlr-h:hover {
	background-color:#fcf7f9
}
.ms-bcl-tlr,.ms-bcl-tlr-h:hover {
	border-color:#fcf7f9
}
.ms-fcl-tlra,.ms-fcl-tlra-h:hover {
	color:#fcf7f9
}
.ms-bgc-tlra,.ms-bgc-tlra-h:hover {
	background-color:#fcf7f9
}
.ms-bcl-tlra,.ms-bcl-tlra-h:hover {
	border-color:#fcf7f9
}
.ms-fcl-w,.ms-fcl-w-h:hover {
	color:#fff
}
.ms-bgc-w,.ms-bgc-w-h:hover {
	background-color:#fff
}
.ms-bcl-w,.ms-bcl-w-h:hover {
	border-color:#fff
}
.ms-fcl-b,.ms-fcl-b-h:hover {
	color:#000
}
.ms-bgc-b,.ms-bgc-b-h:hover {
	background-color:#000
}
.ms-bcl-b,.ms-bcl-b-h:hover {
	border-color:#000
}
.ms-fcl-nd,.ms-fcl-nd-h:hover {
	color:#212121
}
.ms-bgc-nd,.ms-bgc-nd-h:hover {
	background-color:#212121
}
.ms-bcl-nd,.ms-bcl-nd-h:hover {
	border-color:#212121
}
.ms-fcl-np,.ms-fcl-np-h:hover {
	color:#333
}
.ms-bgc-np,.ms-bgc-np-h:hover {
	background-color:#333
}
.ms-bcl-np,.ms-bcl-np-h:hover {
	border-color:#333
}
.ms-fcl-ns,.ms-fcl-ns-h:hover {
	color:#666
}
.ms-bgc-ns,.ms-bgc-ns-h:hover {
	background-color:#666
}
.ms-bcl-ns,.ms-bcl-ns-h:hover {
	border-color:#666
}
.ms-fcl-nsa,.ms-fcl-nsa-h:hover {
	color:#767676
}
.ms-bgc-nsa,.ms-bgc-nsa-h:hover {
	background-color:#767676
}
.ms-bcl-nsa,.ms-bcl-nsa-h:hover {
	border-color:#767676
}
.ms-fcl-nt,.ms-fcl-nt-h:hover {
	color:#a6a6a6
}
.ms-bgc-nt,.ms-bgc-nt-h:hover {
	background-color:#a6a6a6
}
.ms-bcl-nt,.ms-bcl-nt-h:hover {
	border-color:#a6a6a6
}
.ms-fcl-nta,.ms-fcl-nta-h:hover {
	color:#c8c8c8
}
.ms-bgc-nta,.ms-bgc-nta-h:hover {
	background-color:#c8c8c8
}
.ms-bcl-nta,.ms-bcl-nta-h:hover {
	border-color:#c8c8c8
}
.ms-fcl-nl,.ms-fcl-nl-h:hover {
	color:#eaeaea
}
.ms-bgc-nl,.ms-bgc-nl-h:hover {
	background-color:#eaeaea
}
.ms-bcl-nl,.ms-bcl-nl-h:hover {
	border-color:#eaeaea
}
.ms-fcl-nlr,.ms-fcl-nlr-h:hover {
	color:#f4f4f4
}
.ms-bgc-nlr,.ms-bgc-nlr-h:hover {
	background-color:#f4f4f4
}
.ms-bcl-nlr,.ms-bcl-nlr-h:hover {
	border-color:#f4f4f4
}
.ms-fcl-nlra,.ms-fcl-nlra-h:hover {
	color:#f8f8f8
}
.ms-bgc-nlra,.ms-bgc-nlra-h:hover {
	background-color:#f8f8f8
}
.ms-bcl-nlra,.ms-bcl-nlra-h:hover {
	border-color:#f8f8f8
}
.o365cs-base .o365cs-topnavBGColor,.o365cs-base .o365cs-topnavBGColor-2,.o365cs-base.o365cs-topnavBGColor,.o365cs-base.o365cs-topnavBGColor-2 {
	background-color:rgba(201,54,100,.73)
}
.o365cs-base .o365cs-topnavLinkBackground,.o365cs-base .o365cs-topnavLinkBackground-2 {
	background-color:transparent
}
.o365cs-base .o365cs-appLauncherBackground,.o365cs-base.o365cs-appLauncherBackground {
	background-color:#333
}
.o365cs-base .o365cs-topnavText,.o365cs-base .o365cs-topnavText:hover {
	color:#fefefd
}
.o365cs-base .o365cs-navMenuButton {
	color:#fefefd
}
.o365cs-base .o365cs-o365logo {
	color:#fefefd
}
.o365cs-base .o365cs-spo-topbar {
	background-color:rgba(208,79,120,.69);
	color:#fff
}
.o365cs-base .o365cs-spo-topbar button {
	color:#fff
}
.o365cs-base .o365cs-nav-topbarLinkNoMenu:hover {
	color:#942449
}
.o365cs-base button.o365cs-spo-topbarMenuOpen,.o365cs-base button.o365cs-spo-topbarHover,.o365cs-base a.o365cs-spo-topbarMenuOpen,.o365cs-base a.o365cs-spo-topbarHover {
	background-color:#fff;
	color:#3b1d1e;
	border-color:#dbdbdb
}
.o365spo.o365cs-nav-contextMenu,.o365spo.o365cs-nav-contextMenu .o365cs-base .o365cs-contextMenuSeparator {
	border-color:#dbdbdb
}
.o365spo.o365cs-nav-contextMenu .o365cs-base.o365cs-contextMenu {
	background-color:#fff
}
.o365spo.o365cs-nav-contextMenu .o365cs-base.o365cs-contextMenu .o365cs-contextMenuItem {
	color:#3b1d1e
}
.o365spo.o365cs-nav-contextMenu .o365cs-base.o365cs-contextMenu .o365cs-contextMenuItemHover {
	background-color:rgba(201,197,184,.3)
}
.o365spo.o365cs-nav-contextMenu .o365cs-base.o365cs-contextMenu .o365cs-contextMenuInactiveItem {
	color:#92c0e0
}
.o365cs-base .o365cs-notifications-notificationPopup,.o365cs-base .o365cs-notifications-toastControl,.o365cs-base .o365cs-notifications-notificationHeaderText,.o365cs-base .o365cs-notifications-systemNotification,.o365cs-base .o365cs-notifications-reminders-snoozeButton,.o365cs-base .o365cs-notifications-reminders-button,.o365cs-base .o365cs-notifications-reminders-container,.o365cs-base .o365cs-notifications-newMailPopupButton {
	background-color:#fff;
	color:#3b1d1e!important;
	border-color:#dbdbdb
}
.o365cs-base .o365cs-notifications-systemNotificationTitle,.o365cs-base .o365cs-notifications-systemNotificationMessage,.o365cs-base .o365cs-notifications-systemActionText,.o365cs-base .o365cs-notifications-reminders-title,.o365cs-base .o365cs-notifications-reminders-timeDuration,.o365cs-base .o365cs-notifications-reminders-location,.o365cs-base .o365cs-notifications-reminders-timeToStartUnit,.o365cs-base .o365cs-notifications-reminders-timeToStartValue,.o365cs-base .o365cs-notifications-text {
	color:#3b1d1e!important
}
