body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 350px;
}

table.hovertable {
    table-layout: fixed;
}

    table.hovertable tbody tr td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

table.hovertable {
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
    color: #333333;
    border: 1px Solid #c0c0c0;
    border-collapse: collapse;
}

    table.hovertable th {
        background: aliceblue;
        padding: 4px 2px;
        border: 1px Solid #c0c0c0;
    }

    table.hovertable td {
        padding: 4px 2px;
        border: 1px Solid #c0c0c0;
    }

.selected {
    background-color: #FF0;
}

.width80 {
    width: 80px;
}

