body {
    /*overflow: hidden;*/
    /*background-color: #000000;*/
}

.slider {
    /*width: 800px;*/
    width: 100%;
    max-width: 750px;
    min-width: 300px;
    /*height: 400px;*/
    height: 100%;
    min-height: 250px;
    /*max-height: 1000px;*/
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 20px solid #FFF;
    margin-top: 0px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
}

.arrow {
    /*position: absolute;*/
    z-index: 1002;
    display: block;
    /*top: 50%; /*50%*/
    margin-top: -24px; /*-35px*/
    width: 24px;
    height: 24px;
    outline: none;
    cursor: pointer;
    background: url(/Content/slider_assets/img/blank.gif) no-repeat;
}

    .arrow.prev {
        opacity: 0.8;
        /*left: 20px; 20px*/
        background-image: url(/Content/slider_assets/img/paddle_prev_99.png);
        transition: 0.2s linear all;
    }

    .arrow.next {
        opacity: 0.8;
        /*right: 20px;*/
        background-image: url(/Content/slider_assets/img/paddle_next_99.png);
        transition: 0.2s linear all;
    }

    .arrow.prev:hover {
        opacity: 1;
        background-image: url(/Content/slider_assets/img/paddle_prev_ff.png);
    }

    .arrow.next:hover {
        opacity: 1;
        background-image: url(/Content/slider_assets/img/paddle_next_ff.png);
    }



/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: 0px;
    right: 0;
    height: 48px;
}

.nonDraggableImage {
    -webkit-user-drag: none;
}

.nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.nav ul {
    margin: 0;
    width: 100%;
}

.nav .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 15px;
    height: 15px;
}

    .dots .dot a {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 6px;
        height: 6px;
        margin: 3px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        border-color: gray;
        background: #bbb;
        border: 1px solid transparent;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: background-color 0.25s, border-color 0.25s;
        -moz-transition: background-color 0.25s, border-color 0.25s;
        transition: background-color 0.25s, border-color 0.25s;
    }

        .dots .dot a.active {
            border-color: blue;
            background-color: blue;
        }
