CREATE PROCEDURE [dbo].[MLS_REPORT_APPROVE]
@_j_Value NVARCHAR(MAX) = '', --> Dữ liệu
@M_Name VARCHAR(16) = 'MLS', --> Mã User truy cập
@M_Language VARCHAR(16) = 'VN', --> Ngôn ngữ (VD: VN)
@M_Ma_Dvcs VARCHAR(16) = 'A01', --> Mã đơn vị cơ sở (VD: A01)
@M_Data_Nam NVARCHAR(64) = 'Da0',
@M_Dm_Nam VARCHAR(64) = 'Lst',
@M_Ma_TTe0 VARCHAR(16) = 'VND',
@M_Module VARCHAR(16) = 'KT',
@M_Log_Computer NVARCHAR(1000) = ''
--WITH ENCRYPTION
AS
BEGIN
	SET NOCOUNT ON;

	SET @_j_Value = REPLACE(@_j_Value, '[', '')
	SET @_j_Value = REPLACE(@_j_Value, ']', '')

	--> Nếu kiểu ngày tháng trắng --> chuẩn lại thành rỗng
	SET @_j_Value = REPLACE(@_j_Value, '/  /       :  :  ', '')
	SET @_j_Value = REPLACE(@_j_Value, '/  /    ', '')

	--> Nếu gặp ký tự \ thì chuyển thành ký tự / (Vì JSON không hiểu ký tự \)
	SET @_j_Value = REPLACE(@_j_Value, '\', '/')

	--> Phím Enter
	SET @_j_Value = REPLACE(@_j_Value, CHAR(13) + CHAR(10), '')

	--> Phím Tab+Space
	SET @_j_Value = REPLACE(@_j_Value, CHAR(9) + CHAR(32), '')

	--> Phím Tab
	SET @_j_Value = REPLACE(@_j_Value, CHAR(9), '')

	--> Ký tù ‡
	SET @_j_Value = REPLACE(@_j_Value, CHAR(135), '')

	SET @_j_Value = REPLACE(@_j_Value, CHAR(39), CHAR(39) + CHAR(39))
	SET @_j_Value = REPLACE(@_j_Value, CHAR(13), '')

	--> Ngày trống
	SET @_j_Value = REPLACE(@_j_Value, '01/01/0001', '')
	SET @_j_Value = REPLACE(@_j_Value, '01/01/1900', '')

	IF (@_j_Value = N'' OR @_j_Value = '{}')
	BEGIN
		SELECT 1 AS _Is_Error, N'Không có dòng dữ liệu nào được import !' AS ReMessVN,
				N'There is not row to import !' AS ReMessEN,
				N'インポートする行がありません !' AS ReMessJP,
				N'没有要导入的行 !' AS ReMessCN,
				N'가져올 행이 없습니다. !' AS ReMessKR

		RETURN;
	END
	
	-->Khai báo chuỗi
	DECLARE @_StrSQL NVARCHAR(MAX) = '', @_StrSQL1 NVARCHAR(MAX) = '';

	-->Khởi tạo bảng
	IF OBJECT_ID('Tempdb..#TmpTableDmData') IS NOT NULL DROP TABLE #TmpTableDmData

	SELECT TOP 0 IDENTITY(INT, 1, 1) AS IDentity00
		INTO #TmpTableDmData
		FROM UsyCtTmp

	--> Lấy dữ liệu ra bảng từ Json
	EXEC [MLS_Json_To_Table]
		@_j_Value = @_j_Value,
		@_Table_Temp = '#TmpTableDmData'


END
